.xx2 .part1-top :nth-child(1){
    float:left;
}
.xx2 .part1-top :nth-child(4){
    float:right;
    margin-top:-120px;
}
.xx2 .part1-titlt{
    width:260px;
    height:66px;
    border:2px solid #a9c6c2;
    text-align:center;
    font-size:40px;
    margin:0 auto;
}
.xx2 .part1-top .title2{
    width:425px;
    font-size:24px;
    margin:10px auto;
}
.clear{clear:both;}

.xx2 .part2{
    position:relative;
}

.view{
    position:relative;
}
.pc-slide {
    width: 600px;
    margin: 0 auto;
}

.view .swiper-container {
    width: 530px;
    height: 378px;
}
.view .btn-L{
    display:inline-block;
    position:absolute;
    z-index:50;
    top:120px;
    left:-100px;

}
.view .btn-R{
    display:inline-block;
    position:absolute;
    z-index:50;
    top:120px;
    left:585px;
}
.view .swiper-slide img{
    border:5px solid #000;
}

.preview {
    /*width: 100%;*/
    width:832px;
    /*border:1px solid red;*/
    margin-top: 25px;
    position: relative;
    margin-left:-120px;
}

.preview .swiper-container {
    width: 780px;
    height: 185px;
}

.preview .swiper-slide {
    width: 260px;
    height: 180px;
}

.preview .slide6 {
    width: 82px;
}

.preview .btn-l{
    display:inline-block;
    width:70px;
    height:70px;
    position:absolute;
    top:55px;
    left:-75px;
    z-index:50;
}
.preview .btn-l img,.btn-r img{
    width:100%;
    height:100%;
}
.preview .btn-r{
    display:inline-block;
    width:70px;
    height:70px;
    position:absolute;
    top:55px;
    left:835px;
    z-index:50;
}

.preview img {
    padding: 1px;
}

.preview .swiper-wrapper img{
    border:2px solid #000;
}
.preview .active-nav img {
    padding: 0;
    border: 2px solid red;
}
.preview .swiper-container .swiper-wrapper{
    width:1620px;
}